<h2>Slotmachines</h2>

<table mat-table [dataSource]="slotmachines" class="mat-elevation-z8">
  <ng-container matColumnDef="model">
    <th mat-header-cell *matHeaderCellDef> Model </th>
    <td mat-cell *matCellDef="let slotmachine">{{slotmachine.model}}</td>
  </ng-container>
  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef> Version </th>
    <td mat-cell *matCellDef="let slotmachine">{{slotmachine.version}}</td>
  </ng-container>
  <ng-container matColumnDef="factoryNumber">
    <th mat-header-cell *matHeaderCellDef> Factory Number </th>
    <td mat-cell *matCellDef="let slotmachine">
      {{slotmachine.factoryNumber}}
    </td>
  </ng-container>
  <ng-container matColumnDef="techService">
    <th mat-header-cell *matHeaderCellDef> Tech Service </th>
    <td mat-cell *matCellDef="let slotmachine">
        <mat-checkbox disabled="true" [(ngModel)]="slotmachine.techService"></mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="skksNumber">
    <th mat-header-cell *matHeaderCellDef> Skks Number </th>
    <td mat-cell *matCellDef="let slotmachine">{{slotmachine.skksNumber}}</td>
  </ng-container>
  <ng-container matColumnDef="slotroomAddres">
    <th mat-header-cell *matHeaderCellDef> Addres </th>
    <td mat-cell *matCellDef="let slotmachine">{{slotmachine.slotroomAddres}}</td>
  </ng-container>
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let slotmachine">
        <button color="primary" mat-raised-button routerLink="/slotmachine-edit/{{slotmachine.id}}">Edit</button>
    </td>
  </ng-container>
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let slotmachine">
        <button color="primary" mat-raised-button (click)="delete(slotmachine.id)">Delete</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
<br>
<button color="primary" mat-raised-button routerLink="/slotmachine-add">Add</button>
