<div *ngIf="isLoggedIn; else loggedOut">
</div>
 
<ng-template #loggedOut>
    <mat-card>
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <mat-card-content>
          <mat-form-field class="login-full-width">
            <input matInput  [(ngModel)]="form.username" placeholder="Username" name="username" #username="ngModel" required="true"/>
            <mat-hint *ngIf="f.submitted && username.invalid">
              <mat-hint *ngIf="username.errors.required">Username is required</mat-hint>
            </mat-hint>
          </mat-form-field>
          <mat-form-field class="login-full-width">
            <input  type="password" matInput [(ngModel)]="form.password" #password="ngModel"
            placeholder="Password" name="password" required="true" minlength="6"/>
            <mat-hint *ngIf="f.submitted && password.invalid">
              <mat-hint *ngIf="password.errors.required">Password is required</mat-hint>
              <mat-hint *ngIf="password.errors.minlength">Password must be at least 6 characters</mat-hint>
            </mat-hint>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Login</button>
          <mat-hint color="warn" *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </mat-hint>
        </mat-card-actions>
      </form>
    </mat-card>

    <!--
      выпилить отсюда к админу
    <a href="signup" class="btn btn-success">Sign Up</a>
    -->
</ng-template>