<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Welcome to {{title}}!</span>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="authority">
        <span><a color="primary" mat-raised-button routerLink="/slotrooms">Slotrooms</a></span>
        <span><a color="primary" mat-raised-button routerLink="/slotmachines">Slotmachines</a></span>
        <span *ngIf="authority=='admin'"><a color="primary" mat-raised-button routerLink="signup">Add user</a></span>
        <span><a color="primary" mat-raised-button routerLink="home">Logout</a></span>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet *ngIf="authority"></router-outlet>
<app-login *ngIf="!authority"></app-login>