<mat-card *ngIf="isSignedUp; else signupForm">
  User added successfully!
  <br>
  <span><a color="primary" mat-raised-button routerLink="/slotrooms">Ok</a></span>
</mat-card>
 
<ng-template #signupForm>
  <mat-card>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <mat-card-content>
        <mat-form-field class="form-group">
          <input matInput type="text" name="username" [(ngModel)]="form.username" #username="ngModel" placeholder="Username"
            required />
          <mat-hint *ngIf="f.submitted && username.invalid">
            <mat-hint *ngIf="username.errors.required">Username is required</mat-hint>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="form-group">
          <input matInput type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel" placeholder="Password"
            required minlength="6" />
          <mat-hint *ngIf="f.submitted && password.invalid">
            <mat-hint *ngIf="password.errors.required">Password is required</mat-hint>
            <mat-hint *ngIf="password.errors.minlength">Password must be at least 6 characters</mat-hint>
          </mat-hint>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Add user</button>
        <mat-hint *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
          Adding failed!<br/>{{errorMessage}}
        </mat-hint>
      </mat-card-actions>
    </form>
  </mat-card>
</ng-template>